@model EmployeeManager.Models.QueueRollModel
@{
    ViewData["Title"] = "Add Queue";
}




<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>

<table width="100%">
    <tr>
        <td>
            <h3>@ViewData["Title"]</h3>
            <strong>@ViewData["Message"]</strong>
        </td>
        <td></td>
    </tr>
</table>
<hr />

@using (Html.BeginForm("AddQueue", "Queue", FormMethod.Post))
{
<table width="100%" cellpadding="2" cellspacing="3">
    <tr>
        <td colspan="2">
            <strong>Employee</strong><br />
 
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Task</strong><br />
          
        </td>
    </tr>
    
</table>

    <p>
        <input type="submit" name="Submit" value="Save Task to Queue">
    </p>

}



